.window.filter-blur {
    filter: blur(10px);
}

.window.filter-blur
{
    transition: filter .0s cubic-bezier(0.5,0.5, 1,1);
}

#loader-container .data-status,
#loader-container .data-info
{
    text-align: center;
    width: 100%;
    display: inline-block;
    position: absolute;
    top: calc(50% + 100px);
    font-size: 18px;
}

#loader-container .data-info
{
    top: calc(50% + 130px);
    font-size: 14px;
}

#loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;

    background-color: rgba(0,0,0,0.6);
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #9370DB;
    
    animation: spin 2s linear infinite;
}
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #BA55D3;

    animation: spin 3s linear infinite;
}
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #FF00FF;

    animation: spin 1.5s linear infinite;
}
@-webkit-keyframes spin {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
@keyframes spin {
    0%   {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}