.loaded
{
    background-color: rgb(216, 216, 216);
    __color: black;
}

.list-group-item:hover
{
    background-color: #116cd6;
    color: white;
}

table tr.active
{
    background-color: rgba(127, 226, 126, 0.28);
}
