.window ul.tree li.last
{
    background-color: #21252b;
}

.window ul.tree li
{
    background-color: #21252b;
}

.window ul.tree li span.node:hover
{
    background-color: #353b45;
}

.window ul.tree span.node_selected
{
    color: #21252b;
    background-color: #e2c08d;
    border: 1px solid #d19a66;
    border-radius: 2px;
}
