html, body, .window .pane-group .pane
{
    overflow: hidden;
}

canvas
{
    width: 100%;
    height: 100%;
}

.grabbable {
    cursor: move; /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

 /* (Optional) Apply a "closed-hand" cursor during drag operation. */
.grabbable:active { 
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

#mapWindow.window {
    background: black;
    background-image: none;
}

#mapOverlay
{
    user-select: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: rgba(0.0, 0.0, 0.0, 0.6);
}