# Local configs
/config.json

# Installed node packages
package-lock.json
node_modules/
/db/

# C/C++ / electron build directories
build/
dist/

# Visual Studio
.vs/
.vscode/

# Intellij project settings
.idea/
*.iml
