body
{
    -webkit-app-region: drag;
}

.window #botwEditor-mainWindow #main-sidebar-right
{
    background-image: none;
    border: 2px solid #373b47;
}

#main-sidebar-right
{
    text-align: center;
}

.bg-gradient-blue
{
    background: linear-gradient(to top, #41a1e1, #3ad2d1);  
}

.bg-gradient-orange
{
    background: linear-gradient(to top, #e97d68, #e99b68);
}
.bg-gradient-purple
{
    background: linear-gradient(to top, #963c79, #b55f9c);
}

.open-app-groupContainer
{
    -webkit-app-region: no-drag;
    position: relative;
    top: calc(50% - 150px);
    height: 300px;
    display: inline-flex;
}

.open-app-mainDiv
{
    display: inline-block;
    height: 100%;
    font-family: open-sans;
}

.open-app-container
{
    height: 100%;
    width: 250px;
    display: inline-block;
    margin-left: 5px;
}

.open-app-container-sidebar  select
{
    border: none;
}

.open-app-container:first
{
    margin-left: 0;
}

.open-app-container .button-open-app
{
    width: 100%;
    height: calc(100% - 50px);
    background-size: 100%;
    cursor: pointer !important;
}

.open-app-container-sidebar,
.open-app-groupContainer:hover .open-app-container-sidebar
{
    width: 0;
}

.open-app-mainDiv .default-open,
.open-app-mainDiv:hover .open-app-container-sidebar
{
    width: 300px;
}

.open-app-container-sidebar
{
    transition: width ease-in-out 0.5s;
    __transition: transform ease-in-out 0.5s, width ease-in-out 0.5s, margin ease-in-out 0.5s;

    display: inline-block;
    position: relative;
    overflow-x: hidden;
    color: white;
    display: inline-block;
    height: 100%;
    vertical-align: top;
}

.open-app-container .icon-shrineEditor
{
    background-image: url("./../../assets/img/logos/shrine_editor_white.svg");
}

.open-app-container .icon-bfresEditor
{
    background-image: url("./../../assets/img/logos/bfres_editor_white.svg");
}

.open-app-container .icon-settings
{
    background-image: url("./../../assets/img/logos/settings_white.svg");
}

.open-app-mainDiv span.open-app-text
{
    display: inline-block;
    width: 150px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 4px;
    /* text-shadow: 0px 0px 4px #636363; */
    text-align: center;
    font-size: 16pt;
    padding: 8px 0 0 0;
}

.open-app-mainDiv .open-app-container-sidebar span.open-app-text
{
    font-size: 10pt;
}

.open-app-mainDiv select
{
    color: #41a2e1;
    height: calc(100% - 50px);
    margin-top: 5px;
    width: 270px;
    background-color: #282c34;
}

.open-app-mainDiv .bg-gradient-orange select
{
    color: #e2c08d;
}

.open-app-mainDiv input.form-control
{
    width: 270px;
    height: 30px;
    margin-top: 5px;
}

.open-app-mainDiv .settings-nav-container
{
    position: relative;
    top: calc(50% - 50px);
}

.open-app-mainDiv.settings nav hr {
    width: calc(100% - 40px);
    margin: 8px 0 8px 20px;
    opacity: 0.5;
}

.open-app-mainDiv .nav-group-item,
.open-app-mainDiv .nav-group-item .icon,
.open-app-mainDiv nav
{
    color: white;
    __letter-spacing: 2pt;
    font-size: 10pt;

}
.open-app-mainDiv .nav-group-item .icon
{
    padding-top: 2px;
}

.open-app-mainDiv .nav-group-item
{
    text-align: left;
    padding: 4px 0 4px 20px;
}

.open-app-mainDiv .nav-group-item,
.open-app-mainDiv .nav-group-item .icon
{
    cursor: pointer;
}

.open-app-mainDiv.settings nav .nav-group-item:hover,
.open-app-mainDiv.settings nav .nav-group-item:hover .icon
{
    color: #963c79;
    background-color: white;
}

.app-title-text
{
    color: #41a1e1;
    text-transform: uppercase;
    letter-spacing: 4pt;
    font-size: 40pt;
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-credit-text
{
    position: absolute;
    bottom: 4px;
    right: 8px;
    color: #9a9a9a;
}



/**************************\
  Basic Modal Styles
\**************************/

.modal {
    font-family: -apple-system,BlinkMacSystemFont,avenir next,avenir,helvetica neue,helvetica,ubuntu,roboto,noto,segoe ui,arial,sans-serif;
  }
  
  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal__container {
    background-color: #fff;
    padding: 30px;
    max-width: 500px;
    max-height: 100vh;
    border-radius: 4px;
    overflow-y: auto;
    box-sizing: border-box;
  }
  
  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
  }
  
  .modal__close {
    background: transparent;
    border: 0;
  }
  
  .modal__header .modal__close:before { content: "\2715"; }
  
  .modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }
  
  .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }
  
  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  
  .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }
  
  
  
.modal {
    display: none;
  }
  
  .modal.is-open {
    display: block;
  }
          
  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
      from { opacity: 0; }
        to { opacity: 1; }
  }
  
  @keyframes mmfadeOut {
      from { opacity: 1; }
        to { opacity: 0; }
  }
  
  @keyframes mmslideIn {
    from { transform: translateY(15%); }
      to { transform: translateY(0); }
  }
  
  @keyframes mmslideOut {
      from { transform: translateY(0); }
      to { transform: translateY(-10%); }
  }
  
  .micromodal-slide {
    display: none;
  }
  
  .micromodal-slide.is-open {
    display: block;
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }
  
  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }
  
  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }